.grille {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-areas:
        "a a b c"
        "d d d d"
        "e f g h";
    grid-template-columns: 700px 400px 600px auto;
    grid-template-rows: 1fr 1fr 1fr;

    overflow: hidden;
}

.placeholder {
    background-color: #444;
    border: 3px dashed #777;
    text-align: center;
    border-radius: 10px;
}

.troisCarres {
    grid-area: a;
    display: grid;
    grid-template-columns: 4fr auto;
    grid-template-rows: 5fr auto;

}

/*.troisCarres .AC {
    grid-column: 1 / -1;
}*/



.S {
    grid-area: b;
 
    border: 3px solid #777;
    display: grid;
    padding: 15px;
}

.imageT {
    grid-area: c;
    background-color: orange;

    display: grid;
}


.Titre {
    grid-area: d;
    background-color: midnightblue;

    display: grid;
    padding: 20px;
}

.imageN {
    grid-area: e;
    background-color: teal;

    display: grid;
}

.quatreCarres {
    grid-area: f;
    background-color: yellowgreen;

    display: grid;
    padding: 15px;
}

.deuxRectangles {
    grid-area: g;
    background-color: magenta;
    display: grid;
}

.graphiqueR {
    grid-area: h;
    display: grid;
    border: 3px solid #777;
}

.GR {
    width: 50vw;
    height: 35vh;
}

.GA {
    width: 30vw;
    height: 20vh;
}

.anneau-title {
  margin: 0;
  font-size: 24px;
}

.S1, .S2, .S3 {
  height: 200px;                
  display: flex;
  justify-content: center;
  align-items: flex-end;        
}

.dot, .dott, .dottt {
    transform: translateY(210px); 
  width: 120px;
  height: 20px;                  
background-color:rgb(251, 248, 95);
border: #ffd500 3px solid;
border-radius: 5%;
}

