.grille {
    display: grid;
    height: 100vh;
    grid-template-areas:
        "a a b c"
        "d d d d"
        "e f g h";
    grid-template-columns: 700px 400px 600px auto;
    grid-template-rows: 1fr 1fr 1fr;
}

.placeholder {
    background-color: #444;
    border: 2px dashed #777;
    text-align: center;
    border-radius: 10px;
}

.troisCarres {
    grid-area: a;
    background-color: aqua;
}


.S {
    grid-area: b;
    background-color: rebeccapurple;
}

.imageT {
    grid-area: c;
    background-color: orange;
}

.Titre {
    grid-area: d;
    background-color: midnightblue;
}

.imageN {
    grid-area: e;
    background-color: teal;
}

.quatreCarres {
    grid-area: f;
    background-color: yellowgreen;
}

.deuxRectangles {
    grid-area: g;
    background-color: magenta;
}

.graphiqueR {
    grid-area: h;
    background-color: khaki;
}