.grille {
    display: grid;
    grid-template-areas:
        "a a b c"
        "d d d d"
        "e f g h";
    grid-template-columns: 800px 300px 600px auto;
}

.troisCarres {
    grid-area: a;
    background-color: aqua;
}

.S {
    grid-area: b;
    background-color: rebeccapurple;
}

.IT {
    grid-area: c;
    background-color: orange;
}

.T {
    grid-area: d;
    background-color: plum;
}

.IN {
    grid-area: e;
    background-color: teal;
}

.quatreCarres {
    grid-area: f;
    background-color: yellowgreen;
}

.deuxRectangles {
    grid-area: g;
    background-color: magenta;
}

.GR {
    grid-area: h;
    background-color: khaki;
}